Source: zero-lliurex-openboard
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 7.0.50~), zero-dev
Standards-Version: 3.9.3

Package: zero-lliurex-openboard
Architecture: amd64
Depends: epi-gtk
Description: OpenBoard 
 Installs OpenBoard 64 bits for PDI.
