Source: zero-lliurex-openboard
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>=10), zero-dev
Standards-Version: 4.1.2

Package: zero-lliurex-openboard
Architecture: amd64
Depends: epi-gtk,zero-center
Description: OpenBoard 
 Installs OpenBoard 64 bits for PDI.
